
<div><strong><i>Water Source ID</i></strong>: {{#if source}}{{source}}{{else}}<i>None</i>{{/if}}</div>
<div><strong><i>Nitrate (NO3) Nitrogen</i></strong>: {{no3_mgperL}} mg/L</div>
<div><strong><i>Nitrite (NO2) Nitrogen</i></strong>: {{no2_mgperL}} mg/L</div>

<!-- TODO photo display -->

<div>Notes: {{notes}}</div>