<tbody>
	{{#each responses}}
	<tr class="response tappable" id="{{_id}}">
		<td>
			<span id="name_{{_id}}"></span> ({{T "started"}} {{formatDate started "%F"}})
			{{#if completed}}<span class="label label-success">{{T "Completed"}}</span>{{else}}<span class="label label-warning">{{T "Draft"}}</span>{{/if}}
			<br/>
			<span class="text-muted">{{code}}</span>
		</td>
		<td style="vertical-align:middle; border-left:none; width: 16px"><span class="glyphicon glyphicon-chevron-right"></span></td>
	</tr>
	{{else}}
	<tr>
	    <td> <i>{{T "None"}}</i> </td>
	</tr>
	{{/each}}
</tbody>