<style>

.main-header {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}

.main-subheader {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #478fcc;
	margin-bottom: 15px;
}

.drop-bullet {
	color: #478fcc;
	background-image: url('img/water_drop_xs.png');
	background-repeat: no-repeat;
	padding-left: 18px;
}

.instructions {
}

.inset {
	margin-left: 15px;
	margin-right: 15px;
}

</style>

<p class="muted">
	Version: <b>{{version}}</b>

	User: {{#if login}}{{login.user}}{{else}}Not logged in{{/if}}</b>

	{{#if lastSyncDate}}Sync: <b>{{timeago lastSyncDate}} {{lastSyncMessage}}</b>{{/if}}
</p>

<div class="inset">
	<div class="main-header">Water Testing <span class="mwater-highlight">+</span> Mobile Technology.</div>
	<div class="main-subheader">Bringing safe drinking water to more people.</div>

	<div class="instructions"><b>Get started right away:</b></div>
	<div class="instructions">To perform tasks, click on the menu button at the far top right corner. To record water tests or start a survey, click on the plus icon in the menu bar.</div>
	<div></div>
	<h5>mWater has a wide range of powerful features:</h5>
	<div class="drop-bullet">Support for a wide range of water tests</div>
	<div class="drop-bullet">Reliable, low-cost water tests for sale</div>
	<div class="drop-bullet">Automatic saving of your work until you have a data connection</div>
	<div class="drop-bullet">Powerful and flexible survey engine</div>
</div>