{{#each sources}}
<tr class="tappable" id="{{_id}}">
    <td><strong>{{name}}</strong> 
    <td>{{#if geo}}{{else}}<span class="text-error"><b>Unlocated</b></span>{{/if}}</td>
    <br/>
    <span class="muted">{{desc}}&nbsp;</span></td>
    <td><strong>{{code}}</strong></td>
</tr>
{{else}}
<tr>
    <td> See the map for a global view if no sources are found. </td>
</tr>
{{/each}}