<style>
  .date {
    white-space: nowrap;
  }
  .name {
    font-weight: bold;
  }
  .text {
    padding: 2px;
  }
  h3 {
      margin-bottom: 0px;
  }
  .margined {
      margin-left: 5px;
  }
</style>

<div class="page">
    <!-- TODO <div style="border: 1px solid #A0A0A0; padding: 5px; width: 100px; min-height: 75px; float:right;">
        <img id="photo" style="max-width: 100px; display: block; margin-left: auto; margin-right: auto"/>
    </div>-->
    {{#if select}}
    <div><button id="select_source" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok"></span> {{T "Select Source"}}</button></div>
    {{/if}}
    <h3>{{source.name}}</h3>
    <div class="margined">
        <div style="color: Gray">
            {{source.desc}}
        </div>
        <div>
            <b>{{T "ID:"}}</b> {{source.code}}
        </div>
        <div>
            <b>{{T "Type:"}}</b> <span id="source_type"></span>
        </div>
        {{#if source.private}}
        <div class="text-warning">{{T "Private"}}</div>
        {{/if}}
        <button id="edit_source_button" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> {{T "Edit Source"}}</button>
        {{#if source.custom}}
        <br/><br/>
        <div class="well well-small">
          {{#eachProperty source.custom}}
            <div><span class="text-muted">{{key}}</span>: {{value}}</div>
          {{/eachProperty}}
        </div>
        {{/if}}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{{T "Location"}}</h4>
            <div id="location"></div>

            <button id="add_test_button" class="btn btn-default pull-right margined"><span class="glyphicon glyphicon-plus-sign"></span> {{T "Add"}}</button>
            <h4 class="buttoned">{{T "Water Tests"}}</h4>
            <table id="tests" class="table"></table>

            <button id="add_note_button" class="btn btn-default pull-right margined"><span class="glyphicon glyphicon-plus-sign"></span> {{T "Add"}}</button>
            <h4 class="buttoned">{{T "Notes"}}</h4>
            <table id="notes" class="table"></table>
    
            <h4 class="buttoned">{{T "Surveys"}}</h4>
            <table id="surveys" class="table"></table>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>{{T "Photos"}}</h4>
        <div id="photos"></div>
      </div>
    </div>
</div>