
<div><strong><i>Water Source ID</i></strong>: {{#if source}}{{source}}{{else}}<i>None</i>{{/if}}</div>

<div><strong><i>E.Coli Colonies</i></strong>: {{ecoli}}</div>
<div><strong><i>Total Coliform Colonies</i></strong>: {{tc}}</div>

<div>Dilution: {{dilution}}</div>
<div>Notes: {{notes}}</div>