
<div><strong><i>Water Source ID</i></strong>: {{#if source}}{{source}}{{else}}<i>None</i>{{/if}}</div>

<div><strong><i>E.Coli Colonies</i></strong>: {{ecoli_count}}</div>
<div><strong><i>Total Coliform Colonies</i></strong>: {{tc_count}}</div>
<div><strong><i>Gram Negative Non-coliforms</i></strong>: {{gnnc_count}}</div>

<!-- TODO photo display -->

<div>Dilution: {{dilution}}</div>
<div>Notes: {{notes}}</div>