
<div><strong><i>Water Source ID</i></strong>: {{#if source}}{{source}}{{else}}<i>None</i>{{/if}}</div>
<div><strong><i>E.Coli</i></strong>: {{#if ecoli_present}}Present{{else}}Absent{{/if}}</div>
<div><strong><i>Total Coliform</i></strong>: {{#if tc_present}}Present{{else}}Absent{{/if}}</div>

<!-- TODO photo display -->

<div>Dilution: {{dilution}}</div>
<div>Notes: {{notes}}</div>