<tbody>
	{{#each responses}}
	<tr class="response tappable" id="{{_id}}">
		<td>
			<span id="name_{{_id}}"></span> ({{T "started"}} {{formatDate startedOn "%F"}})
			{{#is status "draft"}}
			<span class="label label-default">{{T "Draft"}}</span>
			{{/is}}
			{{#is status "pending"}}
			<span class="label label-warning">{{T "Pending"}}</span>
			{{/is}}
			{{#is status "final"}}
			<span class="label label-success">{{T "Final"}}</span>
			{{/is}}
			{{#is status "rejected"}}
			<span class="label label-danger">{{T "Rejected"}}</span>
			{{/is}}
			<br/>
			<span class="text-muted">{{code}}</span>
		</td>
		<td style="vertical-align:middle; border-left:none; width: 16px"><span class="glyphicon glyphicon-chevron-right"></span></td>
	</tr>
	{{else}}
	<tr>
	    <td> <i>{{T "None"}}</i> </td>
	</tr>
	{{/each}}
</tbody>