<div class="page">
  <div class="pull-right">
    <select class="form-control" id="locale" style="width: auto">
      {{#each locales}}
      <option value="{{code}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <button id="demo_button" type="submit" class="btn btn-lg btn-info">{{T "Demo"}}</button> 
    <span class="glyphicon glyphicon-arrow-left"></span> {{T "Try out app"}}
  <div>
  <br>
  <h3>{{T "Login to mWater"}}</h3>
  <div class="text-center">
    <button type="button" class="social-login zocial google" data-provider="google">{{T "Sign in with Google"}}</button>
    &nbsp; &nbsp;
    <button type="button" class="social-login zocial facebook" data-provider="facebook">{{T "Sign in with Facebook"}}</button>
  </div>
  <br><br>
  <div class="text-center">{{T "-- or --"}}</div>
  <form id="form_login">
    <div class="form-group">
        <label for="login_username">{{T "Username or Email"}}</label>
        <input class="form-control" id="login_username" type="text" autocapitalize="off" autocorrect="off" spellcheck="false" placeholder="{{T "Username"}}" />
    </div>
    <div class="form-group">
        <label for="login_password">{{T "Password"}}</label>
        <input class="form-control" id="login_password" type="password" placeholder="{{T "Password"}}" />
    </div>
    <div>
        <button id="login_button" type="submit" class="btn btn-primary btn-lg btn-block">{{T "Login"}}</button>
    </div>
  </form>

  <br>
  <p class="text-center"> - {{T "or"}} - </p>

  <div>
    <button id="signup_button" class="btn btn-lg btn-success btn-block">{{T "Signup"}}</button>
  </div>
<div>
