<div class="text-muted">
<small>{{T "User:"}}
<b>{{#if login}}{{login.user}}{{else}}{{T "Not logged in"}}{{/if}}</b>
{{T "Sync:"}} {{#if lastSyncDate}}<b>{{timeago lastSyncDate}}</b>{{/if}}
<span id="upserts_pending"></span>
<span id="images_pending"></span>
{{T "Version:"}} <b>{{version}} {{#if baseVersion}}({{baseVersion}}){{/if}}</b>
</small>
</div>

{{#if outdated}}
<div class="alert alert-warning">{{T "Your app is out of date. Please update in Google Play store."}}</div>
{{/if}}

<style>
td {
	font-weight: bold;
	padding-bottom: 30px;
	padding-top: 15px;
	color: #478FCC;
}

.main_icon {
	width: 120px;
	height: 120px;
	margin-bottom: 6px;
	box-shadow: 5px 5px 5px #c0c0c0;
	border: 1px solid #F0F0F0;
}
</style>

<table style="width:99.5%;">
	<tr>
		<td id="source_map" align="center" class="tappable"><img id="sources" class="main_icon tappable" src="img/source_map_icon.png"/>
		<br/>
		{{T "Map Water Sources"}}</td>
		<td id="source_list" align="center" class="tappable"><img id="map" class="main_icon tappable" src="img/source_list_icon.png"/>
		<br/>
		{{T "List Water Sources"}}</td>
	</tr>
	<tr>
		<td id="test_list" align="center" class="tappable"><img id="tests" class="main_icon tappable" src="img/test_icon.png"/>
		<br/>
		{{T "Water Tests"}}</td>
		<td id="survey_list" align="center" class="tappable"><img id="settings" class="main_icon tappable" src="img/survey_icon.png"/>
		<br/>
		{{T "Surveys"}}</td>
	</tr>
</table>
