<style>
    a { font-weight: bold; }
    .page ul > li > a:hover {
      background-color: transparent; // Prevent hover as is problem with touch
    }
}
</style>

<h4>{{T "Select survey to start"}}</h4>
<table class="table">
  <tbody>
    {{#each forms}}
    <tr class="survey tappable" id="{{_id}}">
      <td>{{name}}</a>
      <td style="vertical-align:middle; width: 16px"><span class="glyphicon glyphicon-chevron-right"></span></td>
    </tr>
    {{else}}
    <tr>
      <td> {{T "If no surveys appear, please contact info@mwater.co to learn how to set one up"}} </td>
    </tr>
    {{/each}}
  </tbody>
</table>
