<h4>{{T "Sources to Import"}}</h4>
<button id="import" class="btn btn-primary" type="button">{{T "Import Now"}}</button>
<br>
<hr>
{{#each sources}}
<div>{{T "Name"}}: {{name}}</div>
<div>{{T "Desc"}}: {{desc}}</div>
<div>{{T "Type"}}: {{type}}</div>
{{#if geo.coordinates}}<div>{{T "Latitude"}}: {{last geo.coordinates}}</div>{{/if}}
{{#if geo.coordinates}}<div>{{T "Longitude"}}: {{first geo.coordinates}}</div>{{/if}}
{{#if custom}}
	{{#eachProperty custom}}
	    <div class="text-info">{{key}}: {{value}}</div>
	{{/eachProperty}}
{{/if}}
<hr/>
{{/each}}
