<div>Connection Status: <b>{{status}}</b></div>

{{#if connected}}<span class="text-success">Connected</span>{{/if}}

<br/>

{{#if connected}}
<button id="update_status" type="button" class="btn btn-default">Update Device Status</button>

{{#with stats}}
	<div>Battery voltage: {{batteryVoltage}}</div>
	<div>UID: {{uid}}</div>
	<div>Status: {{#if recording}}Recording{{else}}Not Recording{{/if}}</div>
	<div>Sample Rate: {{sampleRate}}</div>
	<div>Records: {{totalRecords}} {{lowestRecord}}-{{highestRecord}}</div>
{{/with}}
{{/if}}
