
</div>

<h4>{{T "Status"}}</h4>

<div>{{T "Connection Status"}}:
{{#if connected}}
<span class="text-success">{{status}}</span>
{{/if}}

{{#if connecting}}
<span class="text-warning">{{status}}</span>
{{/if}}

{{#if disconnected}}
<span class="text-danger">{{status}}</span>
<br/>
<button type="button" id="connect" class="btn btn-default">
	<span class="glyphicon glyphicon-repeat"></span>
	{{T "Reconnect"}}
</button>
{{/if}}

{{#if connected}}

<div>{{T "Device ID"}}: {{address}}</div>

{{#if stats.enabled}}
	<div class="lead text-success">{{T "Logging Enabled"}}</div>
	<button id="disable_logging" type="button" class="btn btn-default">{{T "Disable Logging"}}</button>
{{/if}}

{{#if stats.disabled}}
	<div class="lead text-danger">{{T "Logging Disabled"}}</div>
	<button id="enable_logging" type="button" class="btn btn-primary">{{T "Enable Logging"}}</button>
{{/if}}

<h4>{{T "Battery"}}</h4>
<div class="progress">
  <div id="progress_bar" class="progress-bar progress-bar-{{stats.batteryState}}" style="width: {{stats.batteryPercentage}}%;">
  	{{stats.batteryPercentage}}%
  </div>
</div>

<h4>{{T "Memory"}}</h4>
<div class="progress">
  <div id="progress_bar" class="progress-bar progress-bar-{{stats.memoryState}}" style="width: {{stats.memoryPercentage}}%;">
  	{{stats.memoryPercentage}}%
  </div>
</div>

<h4>{{T "Data"}}</h4>
<div>
	<button id="download_data" type="button" class="btn btn-primary btn-lg" {{#if downloading}}disabled="disabled"{{/if}}>
		{{T "Download Data"}}
	</button>
</div>

<!--{{#if stats.numberToDownloadKnown}}
	{{#if stats.numberToDownload}}
	<div class="lead">{{stats.numberToDownload}} records to download</div>
	<div>
		<button id="download_data" type="button" class="btn btn-primary btn-lg" {{#if downloading}}disabled="disabled"{{/if}}>Download Data</button>
	</div>
	{{else}}
		<div class="lead">No records to download</div>
	{{/if}}
{{else}}
	<div>Calculating...</div>
{{/if}}-->

{{#if downloading}}
<h4>{{T "Downloading data"}}</h4>
<div class="progress">
  <div id="progress_bar" class="progress-bar" style="width: {{progress}}%;">
  </div>
</div>
{{/if}}

<br/>

<h4>{{T "Device Information"}}</h4>
<div class="text-muted">{{T "ID (Bluetooth Address)"}}: {{address}}</div>
{{#with stats}}
	<div class="text-muted">{{T "Battery voltage"}}: {{batteryVoltage}}</div>
	<div class="text-muted">{{T "Internal Device UID"}}: {{deviceUid}}</div>
	<div class="text-muted">{{T "Ant+ Channel"}}: {{channel}}</div>
	<div class="text-muted">{{T "Firmware version"}}: {{version}}</div>
	<div class="text-muted">{{T "Status"}}: {{#if enabled}}Logging Enabled{{else}}Logging Disabled{{/if}}</div>
	<div class="text-muted">{{T "Sample Rate"}}: {{sampleRate}}</div>
	<div class="text-muted">{{T "Records"}}: {{totalRecords}} {{lowestRecord}}-{{highestRecord}}</div>
{{/with}}

<button id="update_status" type="button" class="btn btn-default btn-sm">{{T "Update Device Status"}}</button>
<br/>

<!--
<div>
	<button id="upgrade_firmware" type="button" class="btn btn-warning btn-sm">Upgrade Firmware</button>
</div>
-->
{{/if}}

<div id="events">
</div>
