<div>Connection Status: <b>{{status}}</b></div>

{{#if connected}}<span class="text-success">Connected</span>{{/if}}

<br/>

{{#if connected}}
<button id="update_status" type="button" class="btn btn-default">Update Device Status</button>

{{#with stats}}
	<div>Battery voltage: {{batteryVoltage}}</div>
	<div>UID: {{uid}}</div>
	<div>Ant+ Channel: {{channel}}</div>
	<div>Firmware version: {{version}}</div>
	<div>Status: {{#if recording}}Logging Enabled{{else}}Logging Disabled{{/if}}</div>
	<div>Sample Rate: {{sampleRate}}</div>
	<div>Records: {{totalRecords}} {{lowestRecord}}-{{highestRecord}}</div>
{{/with}}

<div>
	<button id="download_data" type="button" class="btn btn-primary btn-lg">Download Data</button>
</div>

<div class="progress">
  <div id="progress_bar" class="progress-bar" style="width: 0%;">
  </div>
</div>

<div>
	<button id="upgrade_firmware" type="button" class="btn btn-warning">Upgrade Firmware</button>
</div>

{{/if}}

<div id="events">
</div>
