<div class="text-muted">
	<small>
		{{T "User:"}}
		<b>{{#if login}}{{login.user}}{{else}}{{T "Not logged in"}}{{/if}}</b>
		{{T "Sync:"}} 
		<span class="text-{{dataSyncClass}}">{{dataSyncText}}</span>
		{{#if lastSyncDate}}<b>{{timeago lastSyncDate}}</b>{{/if}}
		{{#if imagesRemaining}}{{T "{0} images to upload" imagesRemaining}}{{/if}}
		{{T "Version:"}} <b>{{version}} {{#if baseVersion}}({{baseVersion}}){{/if}}</b>
	</small>
</div>

{{#if outdated}}
	<div class="alert alert-warning">{{T "Your app is out of date. Please update in Google Play store."}}</div>
{{/if}}

{{T "Language:"}}
<select class="form-control" id="locale" style="width: auto; display: inline-block">
	{{#each locales}}
	<option value="{{code}}">{{name}}</option>
	{{/each}}
</select>

{{#if showUpdates}}
	<h4>{{T "Updates"}}</h4>

	<div>Status: <span class="text-{{updateClass}}">{{updateText}}</span></div>

	<button id="update" class="btn btn-default" type="button" {{#if updating}}disabled="disabled"{{/if}}>{{T "Check for updates"}}</button>
	{{#if updating}}
		<br/>
		<br/>
		<div class="progress">
		  <div id="progress_bar" class="progress-bar" style="width: {{updateProgress}}%;">
		  </div>
		</div>
	{{/if}}
{{/if}}

<br>
<br>
<div>
	<button type="button" id="logout" class="btn btn-default">
		<span class="glyphicon glyphicon-off"></span> {{T "Logout"}}
	</button>
</div>

{{#if offlineSiteCodes}}
<h4>{{T "Offline Site Creation"}}</h4>
<div>
    {{T "Number of sites that can be created offline:"}} <b>{{offlineSiteCodes}}</b>
</div>
<button id="request_site_codes" class="btn btn-default" type="button">{{T "Request more"}}</button>
{{/if}}

<h4>{{T "Advanced"}}</h4>
<div>
  <button id="reset" class="btn btn-danger" type="button">{{T "Reset Storage"}}</button>
  <span class="help-block">{{T "This will completely reset any cached data and cause you to lose any pending changes that you have not uploaded"}}</span>
</div>

<div>
	<button id="test_ecplates" class="btn btn-default" type="button">{{T "Test EC Compact Dry Plate Counter"}}</button>
</div>
<br>
<div>
	<button id="test_barcode_scanner" class="btn btn-default" type="button">{{T "Test Barcode Scanner"}}</button>
</div>

<!-- <br/><br/>
<div>
	<button id="weinre" class="btn btn-warning" type="button">{{T "Start Remote Debugger"}}</button>
	<div id="weinre_details"></div>
</div>
 -->