{{T "Language:"}}
<select class="form-control" id="locale" style="width: auto; display: inline-block">
	{{#each locales}}
	<option value="{{code}}">{{name}}</option>
	{{/each}}
</select>

{{#if showUpdates}}
	<h4>{{T "Updates"}}</h4>

	<div>Status: <span class="text-{{updateClass}}">{{updateText}}</span></div>

	<button id="update" class="btn btn-default" type="button" {{#if updating}}disabled="disabled"{{/if}}>{{T "Check for updates"}}</button>
	{{#if updating}}
		<br/>
		<br/>
		<div class="progress">
		  <div id="progress_bar" class="progress-bar" style="width: {{updateProgress}}%;">
		  </div>
		</div>
	{{/if}}
{{/if}}


{{#if offlineSourceCodes}}
<h4>{{T "Offline Source Creation"}}</h4>
<div>
    {{T "Number of sources that can be created offline:"}} <b>{{offlineSourceCodes}}</b>
</div>
<button id="request_source_codes" class="btn btn-default" type="button">{{T "Request more"}}</button>
{{/if}}

<h4>{{T "Advanced"}}</h4>
<div>
  <button id="reset_db" class="btn btn-danger" type="button">{{T "Reset Local Storage"}}</button>
  <span class="help-block">{{T "This will completely reset any cached data and cause you to lose any pending changes that you have not uploaded"}}</span>
</div>

<div>
	<button id="test_ecplates" class="btn btn-default" type="button">{{T "Test EC Compact Dry Plate Counter"}}</button>
</div>
<br/><br/>
<div>
	<button id="weinre" class="btn btn-warning" type="button">{{T "Start Remote Debugger"}}</button>
	<div id="weinre_details"></div>
</div>
