<style>
  .date {
    white-space: nowrap;
  }
  .name {
    font-weight: bold;
  }
  .text {
    padding: 2px;
  }
  
  .site-name {
      font-size: 18pt;
      font-weight: bold
  }

  .site-desc {
      font-size: 14pt;
  }

  .margined {
      margin-left: 5px;
  }

  #bottom_navbar {
    position: fixed;
    bottom: 0px;
    border-top: solid 1px #CCC;
    height: 50px;
    z-index: 100000;
    left: 0;
    right: 0;
    background-color: white;
  }

  .bottom-padded {
    padding-bottom: 50px;
  }

</style>

<div id="bottom_navbar" class="text-center">
  <div class="btn-group dropup">
    <button type="button" class="btn btn-link btn-lg dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-plus"></span>
        {{T "Add"}}
    </button>
    <ul class="dropdown-menu text-left" role="menu">
      <li><a id="add_test">{{T "Water Test"}}</a></li>
      <li><a id="add_note">{{T "Note"}}</a></li>
    </ul>
  </div>  
</div>

<div class="page bottom-padded">
  {{#if select}}
    <div><button id="select_site" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok"></span> {{T "Select Site"}}</button></div>
  {{/if}}

  <button id="edit_site_button" class="btn btn-default pull-right">
    <span class="glyphicon glyphicon-edit"></span>
    {{T "Edit"}}
  </button>
  <div class="site-name">{{site.name}}</div>
  <div class="site-desc">{{site.desc}}</div>

  <div>
      <span class="text-muted">{{T "Type:"}}</span> <b>{{siteTypeName}}</b></span>
  </div>

  <div>
      <span class="text-muted">{{T "Code:"}}</span> <b>{{site.code}}</b>
  </div>

  {{#if attrs}}
    {{#each attrs}}
    <div>
      <span class="text-muted">{{key}}</span>: {{value}}
    </div>
    {{/each}}
  {{/if}}

  {{#if site.custom}}
    <br/>
    <div class="well well-small">
      {{#eachProperty site.custom}}
        <h4>{{key}}</h4>
        {{#eachProperty value}}
          <div><span class="text-muted">{{key}}</span>: {{value}}</div>
        {{/eachProperty}}
      {{/eachProperty}}
    </div>
  {{/if}}

  <h4>{{T "Location"}}</h4>
  <div id="location"></div>

  <br/>
    <div class="row">
        <div class="col-md-12">
            {{#if isWaterPoint}}
              <div id="status">
                <h4>{{T "Status"}}</h4>
                <span class="text-muted">{{T "Loading..."}}</span>
              </div>

              <button id="add_test_button" class="btn btn-default pull-right margined"><span class="glyphicon glyphicon-plus-sign"></span> {{T "Add"}}</button>
              <h4 class="buttoned">{{T "Water Tests"}}</h4>
              <table id="tests" class="table"></table>

              <button id="add_note_button" class="btn btn-default pull-right margined"><span class="glyphicon glyphicon-plus-sign"></span> {{T "Add"}}</button>
              <h4 class="buttoned">{{T "Status Updates"}}</h4>
              <table id="notes" class="table"></table>
            {{/if}}
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>{{T "Photos"}}</h4>
        <div id="photos"></div>
      </div>
    </div>
</div>