<tbody>
	{{#each sources}}
	<tr class="tappable source" id="{{_id}}">
	    <td>
	    	{{#if thumbnail}}
	    	<img id="{{thumbnail}}" class="thumb" src="img/image-loading.png" onError="this.onerror=null;this.src='img/no-image-icon.jpg';" />
	    	{{/if}}
	    	<strong>{{name}}</strong> 
	    	<br/>
	    	<span class="text-muted"><em>{{typeName}}</em>&nbsp;</span>
	    	<span class="text-muted">{{desc}}&nbsp;</span>
	    </td>
    	<td>{{#unless geo}}<span class="label label-warning"><b>{{T "Unlocated"}}</b></span>{{/unless}} <strong>{{code}}</strong></td>
	    <td style="vertical-align:middle; border-left:none; width: 16px"><span class="glyphicon glyphicon-chevron-right"></span></td>
	</tr>
	{{else}}
	<tr>
	    <td> {{T "See the map for a global view if no sources are found."}} </td>
	</tr>
	{{/each}}
</tbody> 

<style>
table tr.source td {
	vertical-align: middle;
}
.source td .thumb {
	height: 60px;
	margin-right: 10px;
	border-radius: 3px;
}
</style>