<tbody>
	{{#each sources}}
	<tr class="tappable source" id="{{_id}}">
	    <td>
	    	{{#if thumbnail}}<img class='thumb' src='https://api.mwater.co/v3/images/{{thumbnail}}?h=100' >{{/if}}
	    	<strong>{{name}}</strong> 
	    	<td>{{#if geo}}{{else}}<span class="text-error"><b>{{T "Unlocated"}}</b></span>{{/if}}</td>
	    	<br/>
	    	<span class="text-muted">{{desc}}&nbsp;</span>
	    </td>
    	<td><strong>{{code}}</strong></td>
	    <td style="vertical-align:middle; border-left:none; width: 16px"><span class="glyphicon glyphicon-chevron-right"></span></td>
	</tr>
	{{else}}
	<tr>
	    <td> {{T "See the map for a global view if no sources are found."}} </td>
	</tr>
	{{/each}}
</tbody> 