<style>
.dropdown-menu .menuitem {
  font-size: 16px;
  line-height: 26px;
}
.dropdown-menu .menuitem .glyphicon-ok {
  display:none;
}
.dropdown-menu .menuitem.checked .glyphicon-ok {
  display:inline;
}

.buttonbar-item {
  width: 50px; 
  height: 50px; 
  background-position: 10px 9px;
  color: white;
  padding-top: 12px; 
  padding-left: 5px; 
  font-size: 125%;
  cursor: pointer;
  white-space: nowrap;
}

</style>
{{#each items}}
<div style="float:right; position:relative;">
  {{#if menu}}
    {{#if text}}
      <div data-toggle="dropdown" class="buttonbar-item" style="background: url(img/{{icon}}) black no-repeat 0; width: auto">
        {{text}}
      </div>
    {{else}}
      <div data-toggle="dropdown" class="buttonbar-item" style="background: url(img/{{icon}}) black no-repeat 0;">
        &nbsp;
      </div>
    {{/if}}
    <ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
        {{#each menu}}
          {{#if separator}}
          <li role="presentation" class="divider"></li>
          {{else}}
          <li><a id="{{id}}" class="menuitem {{#if checked }}checked{{/if}}"><span class="glyphicon glyphicon-ok"></span> {{text}}</a></li>
          {{/if}}
        {{/each}}
    </ul>  
    </div>
  {{else}}
    <div id="{{id}}" class="buttonbar-item menuitem" {{#if icon}}style="background: url(img/{{icon}}) black no-repeat 0;"{{else}}style="width:auto; padding-right: 10px;"{{/if}}>
      {{#if text}}{{text}}{{else}}&nbsp;{{/if}}
    </div>
  {{/if}}
</div>
{{/each}}
