<style>
.dropdown-menu .menuitem {
  font-size: 16px;
  line-height: 26px;
}
.dropdown-menu .menuitem .glyphicon-ok {
  display:none;
}
.dropdown-menu .menuitem.active .glyphicon-ok {
  display:inline;
}

</style>
{{#each items}}
<div style="float:right; position:relative;">
  {{#if menu}}
  <div data-toggle="dropdown" style="background: url(img/{{icon}}) no-repeat 0; width: 50px; height: 50px; background-position: 10px 9px;">
    {{#if text}}{{text}}{{else}}&nbsp;{{/if}}
  </div>
  <ul class="dropdown-menu" role="menu" style="right: 0; left: auto;">
      {{#each menu}}
      <li><a id="{{id}}" class="menuitem {{#if checked }}active{{/if}}"><span class="glyphicon glyphicon-ok"></span> {{text}}</a></li>
      {{/each}}
  </ul>  
  </div>
  {{else}}
  <div id="{{id}}" class="menuitem" style="background: url(img/{{icon}}) no-repeat 0; width: 50px; height: 50px; background-position: 10px 9px;">
    {{#if text}}{{text}}{{else}}&nbsp;{{/if}}
  </div>
  {{/if}}
</div>
{{/each}}
