<div>
	<button id="location_set" class="btn btn-default"><span class="glyphicon glyphicon-screenshot"></span> {{T "Set"}}</button>
	<button id="location_clear" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> {{T "Clear"}}</button>
	<button id="location_map" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"></span> {{T "Map"}}</button>
	<button id="location_edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> {{T "Edit"}}</button>
	<span class="buttoned">
		<span id="location_absolute"> </span> (<span id="location_relative"></span>)
	</span>
</div>
<div id="location_edit_controls" class="form" style="margin-top: 5px; display:none;">
	<div class="form-group">
		<label for="latitude">{{T "Latitude"}}</label>
		<input type="number" class="form-control" id="latitude" step="any"/> 
	</div>
	<div class="form-group">
		<label for="longitude">{{T "Longitude"}}</label>
		<input type="number" class="form-control" id="longitude" step="any"/> 
	</div>
	<button id="save_button" type="button" class="btn btn-primary">{{T "Save"}}</button>	
	<button id="cancel_button" type="button" class="btn btn-default">{{T "Cancel"}}</button>	
</div>
