<style>
.dropdown-menu .menuitem {
  font-size: 16px;
  line-height: 26px;
}

.menuicon {
  color:white;
  line-height: 0px;
  top: 5px;
  font-size: 20px;
}

</style>
<ul class="nav navbar-nav navbar-right">
  {{#each items}}
  {{#if menu}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
      {{#if icon}}<span class="glyphicon glyphicon-{{icon}} menuicon"></span>{{/if}}
      {{#if text}}{{text}}{{/if}}
    </a>
    <ul class="dropdown-menu">
      {{#each menu}}
      <li><a id="{{id}}" class="menuitem">{{text}}</a></li>
      {{/each}}
    </ul>
  </li>
  {{else}}
  <li>
    <a id="{{id}}" class="menuitem">
      {{#if icon}}<span class="glyphicon glyphicon-{{icon}} menuicon"></span>{{/if}}
      {{#if text}}{{text}}{{/if}}
    </a>
  </li>
  {{/if}}
  {{/each}}
</ul>
