<style>
.dropdown-menu .menuitem {
  font-size: 16px;
  line-height: 26px;
}
</style>
{{#each items}}
<div style="float:right;">
  {{#if menu}}
  <div data-toggle="dropdown" style="background: url(img/{{icon}}) no-repeat 0; width: 40px; margin-top: 8px; height: 35px;">
    {{#if text}}{{text}}{{else}}&nbsp;{{/if}}
  </div>
  <ul class="dropdown-menu" role="menu" style="float: right; right: 0; left: auto;">
      {{#each menu}}
      <li><a id="{{id}}" class="menuitem">{{text}}</a></li>
      {{/each}}
  </ul>  
  </div>
  {{else}}
  <div id="{{id}}" class="menuitem" style="background: url(img/{{icon}}) no-repeat 0; width: 40px; margin-top: 8px; height: 35px;">
    {{#if text}}{{text}}{{else}}&nbsp;{{/if}}
  </div>
  {{/if}}
</div>
{{/each}}
